version: "3.9"

services:
  postgres:
    build: .
    container_name: postgres-tecde
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: TecDeCuliacann
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
